@use '../util' as *;

ul,
ol {
  list-style-position: inside;
  color: var(--clr-wenge-brown);
}

ul,
ol {
  li {
    margin-left: rem(8);
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
}

ul {
  li {
    list-style-type: none;
    padding-left: rem(32);
    background: transparent url(../images/bullet.svg) no-repeat left 50%;
  }
}

// https://codepen.io/erinesullivan/pen/qGrdGV
ol {
  counter-reset: steps;
  li {
    counter-increment: steps;
    list-style: none;
    padding: 0 0 0 rem(32);
    position: relative;

    &::before,
    &::after {
      content: '';
      // height: 3rem;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: rem(32);
    }

    &::before {
      // align-items: flex-end;
      content: counter(steps) '.';
      color: var(--clr-brandy-red);
      font-weight: 700;
      // display: flex;
      // justify-content: flex-end;
      // padding: 0.125em 0.25em;
      z-index: 1;
    }
  }
}
